:root {
  --background-color: #171717;
  --text-color: #eeebdd;
  --accent-color: #ffc7c7;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("../assets/fonts/Space_Grotesk/static/SpaceGrotesk-Regular.ttf")
    format("truetype");
  font-weight: 400; /* Regular */
}

@font-face {
  font-family: "Space Grotesk";
  src: url("../assets/fonts/Space_Grotesk/static/SpaceGrotesk-Bold.ttf")
    format("truetype");
  font-weight: 700; /* Bold */
}

@font-face {
  font-family: "Space Mono";
  src: url("../assets/fonts/Space_Mono/SpaceMono-Regular.ttf")
    format("truetype");
  font-weight: 400; /* Regular */
}

@font-face {
  font-family: "Space Mono";
  src: url("../assets/fonts/Space_Mono/SpaceMono-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Space Grotesk", sans-serif;
  background: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 2rem;
  width: 100vw;
}

h1 {
  font-family: "Space Mono", sans-serif;
  font-weight: 700;
}

h2,
h3 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
}

p {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
}

a {
  font-family: "Space Mono", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: var(--text-color);
  border-bottom: 1px;
  border-bottom-style: solid;
}

a:hover {
  color: var(--accent-color);
}

header {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2rem;
}

.projects {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 2rem 0;
}

.projects li {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0.5rem 0;
  gap: 0.5rem;
}

footer {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.nav-links {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;
}

header,
main,
footer {
  height: 50%;
  width: 50%;
}

@media (max-width: 768px) {
  body {
    overflow: hidden;
    display: flex;
    width: 100%;
    overflow-y: scroll;
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
  }
  header,
  main,
  footer {
    height: 100%;
    width: 100%;
  }
}
