html {
  scroll-behavior: smooth;
}
body {
  margin: 0 0 0 0;
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono,
    Bitstream Vera Sans Mono, monospace, sans-serif;
  background: #faf3e0;
  color: #1e212d;
  display: flex;
}
div#text-container {
  text-align: center;
}
a[href] {
  color: #1e212d;
  background: #eabf9f;
  text-decoration: none;
}
a[href]:hover {
  background: #b68973;
}
a[href]:focus {
  background: #b68973;
}
body h1 {
  margin: 70px 0 0 0;
}
body h2 {
  font-size: 1.4em;
  margin: 35px 0 0 0;
}
body p {
  line-height: 1.4em;
}

div#error {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
div#error-header {
  padding: 2px;
}
div#error-text {
  text-align: center;
}

@media (min-width: 800px) {
  div#everything {
    overflow: hidden;
    display: flex;
    max-height: 100vh;
    width: 100%;
  }
  div#text-container {
    overflow-y: scroll;
    flex-grow: 1;
  }
  div#text {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
  }

  div#error {
    overflow: hidden;
    display: flex;
    max-height: 100vh;
    width: 100%;
  }

  div#error-text {
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
  }
}
/* Dark mode styles */
.toggle-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}
#darkModeToggle {
  background: transparent;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

#gearIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

#darkModeToggle:hover {
  background: transparent;
}

body.dark-mode {
  background: #20262e;
  color: #e9e8e8;
}
body.dark-mode a[href] {
  color: #e9e8e8;
  background: #913175;
  text-decoration: none;
}
body.dark-mode a[href]:hover {
  background: #cd5888;
}
body.dark-mode a[href]:focus {
  background: #cd5888;
}

body.dark-mode .card {
  border: 1px solid #e9e8e8;
}
/* animation */

.rotate {
  animation: rotate 2s linear infinite;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

/* for nav */
.slide-in {
  opacity: 0;
  transform: translateY(20px);
  animation: slideIn 1s forwards;
}
@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.about-me,
.projects-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #1e212d;
  /* border: none; */
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  width: 200px;
  background: transparent;
  text-align: center;
}

.card h2 {
  margin-top: 0;
  font-size: 1.2em;
}
.card img {
  max-width: 100%;
  border-radius: 5px;
}

.intro-cards {
  background: transparent;
  text-align: left;
  /* border: 1px solid #ccc; */
  border: none;
  /* border-radius: 5px; */
  padding: 20px;
  margin: 20px;
  width: 350px;
  text-align: left;
}

mark {
  background: #eabf9f;
  color: #1e212d;
}
mark:hover {
  background: #b68973;
}
body.dark-mode mark {
  background: #913175;
  color: #e9e8e8;
}

body.dark-mode mark:hover {
  background: #cd5888;
  color: #e9e8e8;
}
