html {
  scroll-behavior: smooth;
}
body {
  margin: 0 0 0 0;
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono,
    Bitstream Vera Sans Mono, monospace, sans-serif;
  background: #faf3e0;
  color: #1e212d;
}
div#text-container {
  padding-left: 5%;
}
a[href] {
  color: #1e212d;
  background: #eabf9f;
  text-decoration: none;
}
a[href]:hover {
  background: #b68973;
}
a[href]:focus {
  background: #b68973;
}
body h1 {
  margin: 70px 0 0 0;
}
body h2 {
  font-size: 1.4em;
  margin: 35px 0 0 0;
}
body h3 {
  margin: 35px 0 0 0;
}
body p {
  line-height: 1.4em;
}
div#text {
  padding-right: 5%;
}

div#error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
div#error-header {
  padding: 2px;
}
div#error-text {
  text-align: center;
}

div#error-poem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div#error-poem a {
  background: none;
}

div#error-poem-text {
  text-align: left;
}
@media (min-width: 800px) {
  div#everything {
    overflow: hidden;
    display: flex;
    max-height: 100vh;
    width: 100%;
  }
  div#text-container {
    overflow-y: scroll;
    flex-grow: 1;
  }
  div#text {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
  }

  div#error {
    overflow: hidden;
    display: flex;
    max-height: 100vh;
    width: 100%;
  }

  div#error-text {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
  }
}
p {
  max-width: 60rem;
}
ul {
  padding-left: 3em;
  max-width: 60rem;
}
ul li {
  padding: 5px 0 0 0;
}
/* ol {
  padding-left: 3em;
} */

/* Dark mode styles */
.toggle-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}
#darkModeToggle {
  background: transparent;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

#gearIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

#darkModeToggle:hover {
  background: transparent;
}

body.dark-mode {
  background: #222831;
  color: #eeeeee;
}
body.dark-mode a[href] {
  color: #eeeeee;
  background: #393e46;
  text-decoration: none;
}
body.dark-mode a[href]:hover {
  background: #00adb5;
}
body.dark-mode a[href]:focus {
  background: #00adb5;
}

/* animation */

.rotate {
  animation: rotate 2s linear infinite;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

/* for nav */
.slide-in {
  opacity: 0;
  transform: translateY(20px);
  animation: slideIn 1s forwards;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
