:root {
  --background-color: #171717;
  --text-color: #eeebdd;
  --accent-color: #ffc7c7;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: JetBrains Mono, Consolas, Monaco, Lucida Console, Liberation Mono,
    monospace, sans-serif;
  font-feature-settings: "ss01", "cv03", "zero";
  background: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 2rem;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  color: var(--accent-color);
}

/* Container */
.container {
  width: 100%;
  margin: auto;
  padding: 2rem;
  background-color: wheat;
}

/* Hero Section */
#hero {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  background-color: var(--background-color);
}

#hero h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

#hero p {
  font-size: 1.25em;
  color: var(--text-color);
}

#hero nav a {
  color: var(--text-color);
  text-decoration: none;
  margin: 0 1rem;
  transition: color 0.3s;
}

#hero nav a:hover {
  color: var(--accent-color);
}

/* Section Headings */
section h2 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
  color: var(--accent-color);
}

/* About Section */
#about p {
  font-size: 1.1em;
  color: var(--text-color);
}

/* Projects Section */
.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.project {
  background-color: var(--background-color);
  padding: 2rem;
  border-radius: 1rem;
}

.project h3 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

@media (max-width: 768px) {
  body {
    overflow: hidden;
    display: flex;
    width: 100%;
    overflow-y: scroll;
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
  }
}
