---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { formatDate } from "../../utils/formatDate";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

interface Props {
  post: any;
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout>
  <main>
    <article class="post">
      <header>
        <a href="/blog" class="back-link">&larr; Back to all posts</a>
        <time datetime={post.data.date.toISOString()}>
          {formatDate(post.data.date)}
        </time>
        <h1>{post.data.title}</h1>
      </header>
      <div class="content">
        <Content />
      </div>
    </article>
  </main>
</Layout>
