:root {
  /* colors */
  --white: #f8f9faff;
  --black: #212529ff;
  --blue: #a1b5d8ff;

  --bg: var(--black);
  --text: var(--white);
  --accent: var(--blue);

  /* Min Content Width */
  --content-width: 35rem;

  /* Typography */
  --sans: sans-serif;
  --serif: serif;
  --mono: monospace;
}


html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  overscroll-behavior-y: contain;
  -webkit-overflow-scrolling: touch;
}

body {
  font-family: var(--sans);
  background-color: var(--bg);
  color: var(--text);
  text-rendering: optimizeLegibility;
  line-height: 1.75;
  font-display: swap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  min-height: 100vh;
  max-width: var(--content-width);
  width: 100%;
  margin: 0 auto;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  overscroll-behavior-y: contain;
  transition: background-color 0.2s ease-out;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 4rem;
  /* border: red;
  border-width: 2px;
  border-style: solid; */
}

main {
  max-width: var(--content-width);
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  /* border: red;
  border-width: 2px;
  border-style: solid; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: var(--text);
}

a {
  text-decoration: none;
}



@media (max-width: 768px) {
  body {
    overflow: hidden;
    display: flex;
    width: 100%;
    overflow-y: scroll;
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
  }
}


@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}




.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}

h1,
h2,
h3 {
  font-family: var(--sans);
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 2rem;
}

h3 {
  font-size: 1.125rem;
  font-weight: 500;
}

p,
li {
  margin-bottom: 1rem;
}

footer {
  color: var(--gray);
  max-width: var(--content-width);
  width: 100%;
}

span {
  font-weight: bold;
}

.blur {
  text-decoration: none;
  transition: all ease-in-out 300ms;
}

.blur:hover {
  filter: blur(0.1rem);
  transition: ease-in-out 300ms;
}