---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<h1>404 Error</h1>
	<h2>Oops something went wrong</h2>
	<p>Please use the navigation to find your way back</p>
</BaseLayout>
