---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <section class="about">
      <p>Passionate about building software that solves real problems.</p>
      <p>Currently studying Computer Science in NYC.</p>
    </section>
  </main>
</Layout>

<style>
  .about {
    max-width: var(--content-width);
    margin: 4rem auto;
  }

  .about a {
    color: var(--blue1);
    text-decoration: underline;
  }
</style>
