---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <article class="about">
      <h1>About Me</h1>
      <p>
        Welcome to my blog. I'm a developer passionate about building things on
        the web. This is where I share thoughts, ideas, and lessons learned
        along the way.
      </p>

      <h2>Find Me</h2>
      <p>
        <a
          href="https://www.linkedin.com/in/ragibasif/"
          target="_blank"
          rel="noopener noreferrer">LinkedIn</a
        >
      </p>
      <p>
        <a
          href="https://github.com/ragibasif"
          target="_blank"
          rel="noopener noreferrer">GitHub</a
        >
      </p>
      <p>
        <a
          href="https://www.youtube.com/@ragib_asif"
          target="_blank"
          rel="noopener noreferrer">YouTube</a
        >
      </p>
    </article>
  </main>
</Layout>
