---
import Base from "../layouts/Base.astro";
import ThemeToggle from "../components/ThemeToggle.astro";
import ExternalLink from "../components/ExternalLink.astro";
---

<Base
  title="Ragib Asif"
  description="Personal website of Ragib Asif - Software Engineer"
>
  <ThemeToggle />

  <h1>Ragib Asif</h1>
  <p>
    <ExternalLink href="https://github.com/ragibasif" name="GitHub" />
  </p>
  <p>
    <ExternalLink
      href="https://www.linkedin.com/in/ragibasif"
      name="Linkedin"
    />
  </p>
  <p>
    <ExternalLink href="https://www.youtube.com/@ragib_asif" name="YouTube" />
  </p>
  <p>
    <ExternalLink href="mailto:ragibasif@tuta.io" name="Email" />
  </p>
</Base>
