---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from '../components/Greeting.jsx';
const pageTitle = "Ragib Asif";
const messages = ['Hello', 'Hi', 'Welcome', 'Greetings'];
---

<BaseLayout pageTitle={pageTitle}>
    <h2>My awesome blog subtitle.</h2>
    <Greeting client:load messages={messages} />
    <p>Computer Scientist and Mathematician.</p>
    <p>B.A. Computer Science @ Hunter College.</p>
    <p>
    Interested in software development, operating systems, programming
    languages, cybersecurity, computer networking, and open source software.
    </p>
</BaseLayout>
