---
import Base from "@/layouts/Base.astro";
import { SITE } from "@/consts/consts";
---

<Base title={SITE.NAME} description={SITE.DESCRIPTION}>
  <h1>Hello, World!</h1>
  <p>Computer Science and Mathematics</p>
  <p>Interested in systems programming, Vim, Unix, and algorithms.</p>
</Base>
