---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <section class="intro">
      <h1>Hi, I’m Ragib.</h1>
      <p>
        I build software with intent — tools that are minimal, meaningful, and
        grounded in systems thinking.
      </p>
      <p>
        <a href="/blog">Read my blog</a> or <a href="/software"
          >explore my work</a
        >.
      </p>
    </section>
  </main>
</Layout>

<style>
  .intro {
    text-align: center;
    margin-top: 4rem;
    max-width: var(--content-width);
  }

  .intro a {
    color: var(--blue);
    font-weight: var(--font-weight-bold);
    text-decoration: underline;
  }
</style>
