---
import Base from "../layouts/Base.astro";
const pageTitle = "Ragib Asif";
---

<Base pageTitle={pageTitle}>
  <h1>Ragib Asif</h1>
  <p>Computer Scientist and Mathematician.</p>
  <p>B.A. Computer Science @ Hunter College.</p>
  <p>
    Interested in software development, operating systems, programming
    languages, cybersecurity, computer networking, and open source software.
  </p>
</Base>
