---
import Layout from "../layouts/Layout.astro";
import ExternalLink from "../components/ExternalLink.astro";

const projects = [
  {
    name: "Watchdog",
    description:
      "Watchdog is a minimal and thread safe C library for tracking memory allocations, reallocations, and frees to detect memory leaks, buffer overflows, and double frees.",
    link: "https://github.com/ragibasif/watchdog",
  },
  {
    name: "Bitter Interpreter",
    description:
      "An interpreter for the Bitter esoteric programming language written in C.",
    link: "https://github.com/ragibasif/bitter",
  },
];
---

<Layout>
  <main>
    <section class="intro">
      <p>
        I'm passionate about building impactful software. Here’s a peek into my
        work.
      </p>
    </section>

    <section class="projects">
      <h2>Projects</h2>
      <ul class="project-list">
        {
          projects.map((project) => (
            <li class="project-item">
              <h3>{project.name}</h3>
              <p>{project.description}</p>
              <ExternalLink href={project.link}>View Project</ExternalLink>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>

<style>
  .project-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 0;
  }

  .project-item {
    border: 1px solid var(--gray1);
    padding: 1.5rem;
    border-radius: 0.75rem;
    background: var(--code);
    transition:
      border-color 0.2s ease,
      transform 0.2s ease;
  }

  .project-item:hover {
    transform: translateY(-2px);
  }

  .project-item a {
    margin-top: 0.5rem;
    display: inline-block;
    color: var(--blue1);
    text-decoration: underline;
  }
</style>
