---
const { ...props } = Astro.props;
---

<div {...props}>
  <slot />
</div>

<style>
  div {
    margin: 0 auto;
    max-width: var(--content-width);
    width: 100%;
    display: flex;
    flex-direction: column;
  }
</style>
