---
export interface Props {
  href: string;
  name: string;
  class?: string;
}

const { href, name, class: className } = Astro.props;
---

<a href={href} target="_blank" rel="noopener noreferrer" class={className}>
  {name}
</a>
