---
import ExternalLink from "./ExternalLink.astro";
const github = "https://www.github.com/ragibasif";
const linkedin = "https://www.linkedin.com/in/ragibasif";
const date = new Date().getFullYear();
---

<footer>
  &copy; {date} Ragib Asif. All rights reserved.
  <div class="social-links">
    <ExternalLink href=`${github}`>GitHub</ExternalLink>
    <ExternalLink href=`${linkedin}`>LinkedIn</ExternalLink>
  </div>
</footer>
