---
import Link from "@/components/Link.astro";
import { SITE } from "@/consts/site";
import Socials from "@/components/Socials.astro";
const YEAR = new Date().getFullYear();
---

<footer>
  <div>
    <p>
      &copy; {YEAR}
      <span><Link href="/">{SITE.NAME}</Link></span>. All rights reserved.
    </p>
    <Socials />
  </div>
</footer>
