---
import Link from "src/components/Link.astro";
const YEAR = new Date().getFullYear();

import Container from "src/components/Container.astro";
import { SITE } from "src/consts";
---

<footer>
  <Container class="footer-content">
    <p class="copyright">
      &copy; {YEAR}
      <span>
        <Link href="/" class="site-title">
          {SITE.NAME}
        </Link>
      </span>. All rights reserved.
    </p>
  </Container>
</footer>

<style>
  footer {
    color: var(--gray);
    opacity: 0.75;
    padding: 2rem 1rem 4rem;
    text-align: left;
    margin-top: 4rem;
    max-width: var(--content-width);
    width: 100%;
  }

  .copyright span {
    font-weight: bold;
  }
</style>
