---
import Link from "src/components/Link.astro";
const YEAR = new Date().getFullYear();

import Container from "src/components/Container.astro";
import { SITE } from "src/consts";
---

<footer>
  <Container>
    <p>
      &copy; {YEAR}
      <span>
        <Link href="/">
          {SITE.NAME}
        </Link>
      </span>. All rights reserved.
    </p>
  </Container>
</footer>
