---
import Link from "./Link.astro";
const github = "https://www.github.com/ragibasif";
const linkedin = "https://www.linkedin.com/in/ragibasif";
const year = new Date().getFullYear();
---

<footer>
    <ul>
      <li><Link url=`${github}` text="GitHub" /></li>
      <li><Link url=`${linkedin}` text="LinkedIn" /></li>
    </ul>
  <p>&copy {year} Ragib Asif. All rights reserved.</p>
</footer>


