---
interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Ragib Asif",
  description = "Software Engineer, Mathematician, Writer, Artist, Poet",
} = Astro.props;
---

<header class="header">
  <div class="container">
    <div class="content">
      <a href="/">
        <h1 class="title">{title}</h1>
      </a>
      {description && <p class="description">{description}</p>}
    </div>
    <nav class="nav">
      <a href="/">Home</a>
      <a href="/blog">Blog</a>
      <a href="/about">About</a>
    </nav>
  </div>
</header>

<style>
  .header {
    padding: 2rem 0;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  .content {
    margin-bottom: 1.5rem;
  }

  .title {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
  }

  .description {
    font-size: 1rem;
    margin: 0.5rem 0 0 0;
  }

  .nav {
    display: flex;
    gap: 2rem;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
</style>
