---
import Nav from "./Nav.astro";
---

<header>
  <div class="header-content">
    <Nav />
  </div>
</header>

<style>
  header {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
</style>
