---
import { SITE, NAV } from "@/consts/consts";
import Link from "@/components/Link.astro";
---

<header>
  <nav>
    <Link href="/">{SITE.NAME}</Link>
    <div class="internal-links">
      {
        NAV.map(({ NAME, HREF }) => (
          <Link href={HREF}>
            <span class="sr-only">{NAME}</span>
            {NAME}
          </Link>
        ))
      }
    </div>
  </nav>
</header>

<style>
  .internal-links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .internal-links a.active {
    font-weight: bolder;
  }
</style>
