---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
---

<nav>
  <Container class="nav-content nav-links">
    <Link href="/">Home</Link>
    <Link href="/projects">Projects</Link>
    <Link href="/blog">Blog</Link>
  </Container>
</nav>

<style>
  nav {
    width: 100%;
    padding: 1rem 0;
  }
  .nav-content {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    max-width: var(--content-width);
    margin: 0 auto;
    gap: 1rem;
  }

  .nav-links a {
    color: var(--text);
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-color 0.4s ease;
  }

  .nav-links a:hover {
    border-bottom-color: var(--blue);
  }

  .nav-links a.active {
    border-bottom-color: var(--blue);
    font-weight: bold;
  }

  @media (max-width: 640px) {
    .nav-content {
      justify-content: center;
    }
  }
</style>
