---
import Link from "@/components/Link.astro";
import { SOCIALS } from "@/consts/socials";
---

<div class="socials">
  {
    SOCIALS.map(({ NAME, HREF }) => (
      <Link href={HREF} external={true}>
        <span class="sr-only">{NAME}</span>
        {NAME}
      </Link>
    ))
  }
</div>

<style>
  .socials {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }

  @media (max-width: 600px) {
    .socials {
      flex-direction: column;
      align-items: stretch;
      gap: 0.5rem;
    }
  }
</style>
