#about {
  .about-body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
      width: 50%;
      text-align: left;
    }
  }
}
@media (max-width: 768px) {
  .about-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    p {
      text-align: left;
      min-width: 100%;
    }
  }
}
