#projects-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  // border: 2px solid var(--accent-color);
  // background-color: var(--primary-color);
  // box-shadow: var(--box-shadow);
  width: 95%;
}

.project-button {
  text-decoration: none;
  color: var(--text-color);
  &:hover {
    color: var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
  }
}

@media (max-width: 768px) {
  // #projects-wrapper {
  //   display: flex;
  //   flex-direction: column;
  //   padding: 1rem;
  // }
}
