#projects-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.project-card {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  box-shadow: var(--box-shadow);
  max-width: 90%;
}

.project-img {
  width: 300px;
  height: 200px;
}

@media (max-width: 768px) {
  #projects-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
}
