.icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  bottom: 0;
  left: 0;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  //   margin: 10rem 1rem;
  position: fixed;

  a {
    color: var(--text-color);
    text-decoration: none;
    &:hover {
      color: var(--accent-color);
    }
  }
  i {
    font-size: 2em;
  }
}
