* {
  -ms-overflow-style: none; // Internet Explorer 10+
  scrollbar-width: none; // Firefox
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none; // Safari and Chrome
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: JetBrains Mono, Consolas, Monaco, Lucida Console, Liberation Mono,
    monospace, sans-serif;
  font-feature-settings: "ss01", "cv03", "zero";
  background: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
}

section {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  margin: 2rem;
}

h2 {
  font-size: 2em;
  text-align: center;
}

@media (max-width: 768px) {
  body {
    overflow: hidden;
    display: flex;
    max-height: 100vh;
    width: 100%;
    overflow-y: scroll;
    flex-grow: 1;
  }
  section {
    margin-left: auto;
    margin-right: auto;
  }
}
