:root {
  --background-color: #171717;
  --text-color: #eeebdd;
  --primary-color: #232323;
  --accent-color: #ffc7c7;
  --box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  --h1one: rgb(255, 150, 150);
  --h1two: rgb(150, 255, 150);
  --h1three: rgb(150, 150, 255);
  --h1four: rgb(250, 200, 200);
  --home1: rgb(255, 85, 73);
  --home2: rgb(222, 2, 5);
  --bg-size: 400%;
  --gradient-text1: rgb(100, 150, 250);
  --gradient-text2: rgb(250, 050, 100);
  --glow-rgb: 255 20 90;
  --command-color: rgba(100, 255, 100, 1);

  // gruvbox
  --gruvbox-green-hex: #8ec07c;
  --gruvbox-blue-hex: #458588;
  --gruvbox-yellow-hex: #d79921;
  --gruvbox-red-hex: #cc241d;
  --gruvbox-black-hex: #3c3836;
  --gruvbox-green-rgb: rgba(142, 192, 124, 1);
  --gruvbox-blue-rgb: rgba(69, 133, 136, 0.5);
  --gruvbox-yellow-rgb: rgba(215, 153, 33, 1);
  --gruvbox-red-rgb: rgba(204, 36, 29, 0.5);
  --gruvbox-black-rgb: rgba(60, 56, 54, 1);
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
