
// nav animation
@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// home page animations
@keyframes scale {
  from,
  to {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

@keyframes background-pan {
  from {
    background-position: 1000% center;
  }

  to {
    background-position: 0% center;
  }
}

@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}



@keyframes float {
  from,
  to {
    transform: translateY(-0%);
  }

  50% {
    transform: translateY(-3%);
  }
}