:root {
  --background-color: #151515;
  --text-color: #eeeeee;
  --primary-color: #490412;
  --accent-color: #c73659;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-image: url(lisbon.svg);
}
section {
  height: 100vh;
}
.image {
  width: 40vmin;
  position: absolute;
  transform: translate(-50%, -50%);
}

.image[data-status="inactive"] {
  display: none;
}

.image[data-status="active"] {
  display: block;
}

header {
  z-index: 1000;
  background-color: var(--primary-color);
  padding: 1rem;
  text-align: center;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.header-section {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.header-section a {
  color: var(--text-color);
  flex-direction: row;
  text-decoration: none;
  border: none;
  display: inline-block;
  /* margin: 1rem 0; */
}

.header-section a:hover {
  text-decoration: none;
  background-color: var(--accent-color);
}

footer {
  text-align: center;
}
